# Dependencias
node_modules/

# Build
dist/

# Variables de entorno (NUNCA subir al repo)
.env
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# PM2
ecosystem.config.js

# Archivos de deploy
*.tar.gz
*.zip
